[Unit]
Description=UrT 4.3 B3 Bot
After=urt43.service

[Install]
WantedBy=default.target

[Service]
Type=exec
CPUAffinity=1-2
Environment=UV_COMPILE_BYTECODE=1 UV_NO_DEV=1 UV_FROZEN=1 PYTHONUNBUFFERED=1
WorkingDirectory=%h/b3
ExecStartPre=-git pull
ExecStart=%h/.local/bin/uv run -m b3 -c %h/.config/b3.ini
TimeoutSec=300
Restart=on-failure
RestartSec=5
RestartSteps=5
RestartMaxDelaySec=30
LimitNOFILE=5000
