[Unit]
Description=UrT 4.3 B3 TS
After=urt43.service

[Install]
WantedBy=default.target

[Service]
WorkingDirectory=/home/urtadmin/b3
ExecStart=taskset -c 1 /home/urtadmin/b3/.venv/bin/python -B -u -m b3 -c /home/urtadmin/.config/b3/ts.ini
TimeoutSec=600
Restart=on-failure
LimitNOFILE=5000
