[Unit]
Description=UrT 4.3 Game/Discord Bot
AssertPathExists=/home/urtadmin/urt30t
After=urt43.service

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
RestartSec=3
EnvironmentFile=/home/urtadmin/.config/urt30t/env.ts
WorkingDirectory=/home/urtadmin/urt30t
ExecStart=taskset -c 2 /home/urtadmin/urt30t/.venv/bin/python -m urt30t
