[Unit]
Description=UrT 4.3 Game Bot
After=urt43.service
StartLimitIntervalSec=120
StartLimitBurst=20

[Install]
WantedBy=multi-user.target

[Service]
Type=exec
CPUAffinity=1-2
Environment=UV_COMPILE_BYTECODE=1 UV_NO_DEV=1 UV_FROZEN=1 PYTHONUNBUFFERED=1
WorkingDirectory=%h/urt30t
ExecStartPre=-git pull
ExecStartPre=-%h/.local/bin/uv sync
ExecStart=%h/urt30t/.venv/bin/python -m urt30t %h/.config/urt30t.toml
Restart=on-failure
RestartSec=5
