[Unit]
Description=UrT 4.3
After=network.target

[Install]
WantedBy=default.target

[Service]
Type=exec
CPUAffinity=0
EnvironmentFile=%h/.config/urtserver.env
ExecStart=%h/share/UrT-Ded.x86_64 +set fs_game q3ut4 +set fs_basepath %h/share/UrbanTerror43 +set fs_homepath %h/server +set dedicated 2 +set net_port $URT_PORT +set com_hunkmegs 512 +set ttycon 0 +exec server.cfg
Restart=on-failure
RestartSec=5
RestartSteps=15
RestartMaxDelaySec=60
TimeoutSec=30
LimitNOFILE=5000
