# 30plus UrT systemd service file

[Unit]
Description=UrT 4.3
After=network.target

[Install]
WantedBy=default.target

[Service]
Type=forking
User=urtadmin
Group=urtadmin
PIDFile=/home/urtadmin/run/urt43_ts.pid
ExecStart=/home/urtadmin/bin/urt43.sh ts
ExecStop=/home/urtadmin/bin/urt43.sh ts stop
TimeoutSec=30
Restart=on-failure
LimitNOFILE=5000
