# 30plus UrT systemd service file
# copy file to the `/lib/systemd/system/` directory

[Unit]
Description=UrT 4.3 Server
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
User=urtadmin
Group=urtadmin
PIDFile=/ssd/urt/run/urt43.pid
ExecStart=/ssd/urt/bin/start_urt.sh
ExecStop=/ssd/urt/bin/stop_urt.sh
TimeoutSec=600
Restart=on-failure
LimitNOFILE=5000
