# 30plus B3 systemd service file

[Unit]
Description=UrT 4.3 B3 TS
After=network.target urt43_ts.service

[Install]
WantedBy=multi-user.target

[Service]
User=urtadmin
Group=urtadmin
PIDFile=/game/run/b3_ts.pid
ExecStart=/game/bin/b3.sh ts
ExecStop=/game/bin/b3.sh ts stop
TimeoutSec=600
Restart=on-failure
LimitNOFILE=5000
