# 30plus UrT systemd service file

[Unit]
Description=UrT 4.3 Main
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
User=urtadmin
Group=urtadmin
PIDFile=/game/run/urt43_main.pid
ExecStart=/game/bin/urt43.sh main
ExecStop=/game/bin/urt43.sh main stop
TimeoutSec=30
Restart=on-failure
LimitNOFILE=5000
