# 30plus UrT systemd service file

[Unit]
Description=UrT 4.3 Private Slot 72
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
User=urtadmin
Group=urtadmin
PIDFile=/game/run/urt43_private_72.pid
ExecStart=/game/bin/urt43_private.sh 72
ExecStop=/game/bin/urt43_private.sh 72 stop
TimeoutSec=30
Restart=on-failure
LimitNOFILE=5000
